@font-face {
  font-family: Writer;
  src: url("./assets/writer.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 90%;
  descent-override: 20%;
}

:root {
  --bg: #3c3c3c;
  --text: #ccc;
  --accent: #e07020;
  --danger: #c04040;
  --border: #666;
  --font: "Writer", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #000;
  color: var(--text);
  font-family: var(--font);
  line-height: 1.4;
  display: flex;
  justify-content: center;
  text-align: justify;
}

a {
  color: var(--text);
}

ul {
  list-style-type: square;
  padding-left: 1em;
}

ol {
  padding-left: 2em;
}

code {
  background: var(--bg);
  padding: 2px 4px;
  vertical-align: baseline;
  position: relative;
  top: -2px;
}

code.accent {
  background-color: var(--accent);
  color: #000;
}

pre {
  padding: 8px 16px;
  border: 1px solid var(--border);
  background: var(--bg);
}

pre code {
  display: block;
  padding: 0;
  border: none;
  background: none;
}

section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Layout & Menus */
main {
  padding: 4px;
}

#root {
  border: 1px solid var(--text);
  width: 1200px;
  margin: 16px;
  box-sizing: border-box;
  min-height: calc(100vh - 32px);
}

menu {
  background-color: var(--bg);
  padding: 4px;
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}

menu > a {
  text-decoration: none;
}

menu > a:hover > span {
  color: var(--accent);
  text-decoration: underline;
  text-underline-offset: 3px;
}

menu > a::after {
  content: "/";
  margin-left: 4px;
}

menu > a.active > span {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* Form elements */
input,
select,
button,
textarea {
  font-family: inherit;
  font-size: 1em;
  background: #000;
  color: var(--text);
  border: 1px solid var(--border);
  padding: 4px 8px;
}

input[type="file"] {
  padding: 0;
  line-height: 1;
}

input[type="file"]::file-selector-button {
  font-family: inherit;
  font-size: 1em;
  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  border-right: none;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0;
}

input[type="file"]::file-selector-button:hover {
  background: #000;
}

input,
select,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

input:focus,
select:focus,
button:focus {
  outline: 1px solid var(--accent);
  border-color: var(--accent);
}

/** Buttons **/
button {
  cursor: pointer;
}

button:hover {
  background: var(--bg);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

button:disabled:hover {
  background: #000;
}

button.accent {
  border-color: var(--accent);
  color: var(--accent);
}

button.accent:hover {
  background: var(--accent);
  color: #000;
}

button.accent:disabled:hover {
  background: #000;
  color: var(--accent);
}

button.danger {
  border-color: var(--danger);
  color: var(--danger);
}

button.danger:hover {
  background: var(--danger);
  color: #000;
}

button.danger:disabled:hover {
  background: #000;
  color: var(--danger);
}

/* Fieldset & Labels */
fieldset {
  border: 1px solid var(--border);
  padding: 8px;
  margin-bottom: 8px;
}

fieldset.error {
  border-color: var(--danger);
}

legend {
  color: var(--accent);
  padding: 0 4px;
}

fieldset.error legend {
  display: flex;
  align-items: center;
  width: 100%;
}

fieldset.error legend .error {
  display: flex;
  align-items: center;
  flex: 1;
}

fieldset.error legend .error::before {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--danger);
  margin: 0 8px;
}

legend .error {
  color: var(--danger);
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.85em;
  color: var(--border);
}

label .error {
  color: var(--danger);
  margin-left: 4px;
}

label input,
label select {
  font-size: 1.18em;
}

input.error,
select.error {
  border-color: var(--danger);
}
